.EquipmentType {
  .liType {
    cursor: pointer;
    margin: 10px;
    outline: none;
    padding: 10px;
    margin: 0;
    list-style: none;

    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border-radius: 5px;
    margin-left: 23px;

    img {
      margin-right: 10px;
    }

    &:hover {
      background-color: var(--GrayColorButtonHover);
    }
    &:active {
      background-color: var(--GrayColorButtonActive);
    }
  }

  .liTypeTeh {
    display: flex;
    flex-direction: row;
    align-items: center;
    .liTypeTehImg {
      display: flex;
      transform: translateX(10px);
    }
    span {
      transform: translateX(-10px);
      font-family: Open Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 21.79px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }
  }
  .liTypeTeh2 {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 35px;
    cursor: pointer;
    &:hover {
      background-color: var(--GrayColorButtonHover);
    }
    &:active {
      background-color: var(--GrayColorButtonActive);
    }
  }
}
