:root {
    --ExampleColor: #f7f7f7;
    --GrenColor: #1A7D78;
    --GrenColorHover: #2C948E;
    --GrenColorActive: #136864;
    --GrayColorInput: #989898;
    --RedColor:#B20707;
    --GrayColorButtonHover: #1A7D781A;
    --GrayColorButtonActive: #1A7D7840;
}