:root {
  --ExampleColor: #f7f7f7;
  --GrenColor: #1a7d78;
  --GrenColorHover: #2c948e;
  --GrenColorActive: #136864;
  --GrayColorInput: #989898;
  --RedColor: #b20707;
  --GrayColorButtonHover: #1a7d781a;
  --GrayColorButtonActive: #1a7d7840;
  --BlueColor: #015dd8;
}
