@import '../../styles/colors.scss';

.HomePageTopMenu{
    background-color: rgb(255, 255, 255);
    height: 60px;
    display: flex;
    justify-content: center;
    width: 534px;
    border-radius: 5px;
    ul{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        li{
            padding: 0 20px;
            padding-bottom: 2px;
            &:hover{
                // border-bottom: 1px solid var(--GrenColorHover);
                color: var(--GrenColor);
                cursor: pointer;
            }
        }
    }
}