.HeadMenu {
  height: auto;
  width: calc(100% - 80px);
  margin: 0 auto;
  border-radius: 20px;
  //   background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  justify-content: space-between;
  .left {
    h1 {
      font-size: 32px;
    }
  }
}
