@import "../../styles/colors.scss";


.ButtonContainer{
    button{
        width: 370px;
        height: 50px;
        color: #fff;
        background-color: var(--GrenColor);
        border-radius: 5px;
        font-size: 16px;
        border: none;
        transition: 0.1s linear all;
        &:hover{
            background-color: var(--GrenColorHover);
            cursor: pointer;
        }
        &:active{
            background-color: var(--GrenColorActive);
        }
    }
}