.PopUpEquipmentPeopleContainer{
    display: block;
    margin-top:40px;
   
    .PopUpEquipmentPeopleContainerInner{
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .PopUpEquipmentPeople{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0px 50px 40px 50px;
        
        ul{
            margin-left: 30px;
        }

    }
    .PopUpEquipmentPeopleNoteData{
        font-size: 24px;
        margin-top: 100px;
        p{
            text-align: center;
        }
    }
    .buttonCont{
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 25px;
        width: 100%;
        left: 0;
        button{
            width: 95%;
            margin-left: 0;
            height: 50px;
            border-radius: 5px;
            border: none;
            background-color: var(--GrenColor);
            color: #fff;
            font-size: 16px;
            transition: 0.1s linear all;
            &:hover{
                background-color: var(--GrenColorHover);
                cursor: pointer;
            }
            &:active{
                background-color: var(--GrenColorActive);
            }
        }
    }
    .PopUpAddEquipment{
        position: absolute;
        left: 0;
        top: 35px;
        background-color: rgb(255, 255, 255);
        border: 1px solid #ccc;
        border-radius:5px ;
        max-height: 325px;
        width: 100%;
        overflow-y: scroll;
        ul{
            list-style: none;
            padding: 10px;
            li{
                padding: 10px 5px;
                &:hover{
                    background-color: var(--GrayColorButtonHover);
                }
                &:active{
                    background-color: var(--GrayColorButtonActive);
                }
            }
        }
    }
}