.HelloPage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    button{
        @media (max-width: 768px) {
            width: 300px!important;
            height: 50px!important;
        }
    }
    .HelloPageTitle{
        font-size: 40px;
        width: 650px;
        text-align: center;
        margin-bottom: 50px;
        @media (max-width: 768px) {
            font-size: 32px;
        }
    }
    button{
        height: 60px;
        width: 650px;
    }
    img{
        position: absolute;
        pointer-events: none;
    }
    .HelloPageImgTop{
        top: 0;
        @media (max-width: 768px) {
            width: 400px;
            right: 0;
        }
    }
    .HelloPageImgRight{
        right: 0;
      
        @media (max-width: 768px) {
            width: 400px;
            bottom: -25px;
        }
    }
    .HelloPageImgLeft{
        left: 0;
        @media (max-width: 768px) {
            display: none;
        }
      
    }
}