.CanvasPage {
  height: 100vh;

  .HomePageProfileClicker {
    position: absolute;
    left: 30px;
    top: 20px;
    z-index: 400;
  }
  .Save {
    position: absolute;
    left: 356px;
    top: 20px;
  }
}
