.MenuComponent {
  position: absolute;
  left: 30px;
  top: 85px;
  background-color: #fff;
  border-radius: 5px;
  z-index: 100;
  width: 200px;
  height: auto;
  border-radius: 5px;
  padding: 15px 10px;
  max-height: 80vh;
  overflow-y: auto;

  /* Общая стилизация полосы прокрутки */
  &::-webkit-scrollbar {
    width: 8px; // Ширина вертикальной полосы прокрутки
    height: 12px; // Высота горизонтальной полосы прокрутки
  }

  /* Стилизация самого ползунка */
  &::-webkit-scrollbar-thumb {
    background-color: #888; // Цвет ползунка
    border-radius: 6px; // Закругление углов
  }

  /* Эффект при наведении на ползунок */
  &::-webkit-scrollbar-thumb:hover {
    background-color: #555; // Цвет ползунка при наведении
  }

  /* Стилизация дорожки полосы прокрутки */
  &::-webkit-scrollbar-track {
    background: #f1f1f1; // Цвет дорожки
    border-radius: 6px; // Закругление углов
  }

  /* Стили для горизонтальной полосы прокрутки */
  &::-webkit-scrollbar-horizontal {
    height: 10px;
  }

  /* Стили для ползунка в горизонтальной полосе прокрутки */
  &::-webkit-scrollbar-thumb:horizontal {
    background-color: #888;
    border-radius: 6px;
  }

  /* Эффект при наведении на полоску */
  &::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #555;
  }

  /* Для Firefox */
  .scroll-container {
    scrollbar-width: thin; // Установка ширины прокрутки
    scrollbar-color: #888 #f1f1f1; // Цвет ползунка и дорожки
  }

  /* Эффект для Firefox */
  .scroll-container:hover {
    scrollbar-color: #555 #f1f1f1; // Цвет ползунка и дорожки при наведении
  }
  li {
    cursor: pointer;
    margin: 10px;
    outline: none;
    padding: 10px;
    margin: 0;
    list-style: none;

    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border-radius: 5px;
    img {
      margin-right: 10px;
    }

    &:hover {
      background-color: var(--GrayColorButtonHover);
    }
    &:active {
      background-color: var(--GrayColorButtonActive);
    }
  }
}
