.CreatFloor {
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 370px;
  left: -138px;
  top: 43px;

  input {
    border: 0.7px solid #989898;
    border-radius: 5px;
    padding: 13px 15px;
    margin-bottom: 20px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  button {
    background-color: #1a7d78;
    border-radius: 5px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 14px;
    color: #f5f6f7;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: #166662;
    }
    &:active {
      background-color: #229e98;
    }
  }
}
