@import "./../../styles/colors.scss";

.HomePageContainer {
  width: 100%;
  padding-top: 80px;
  .HomePageHeaderMobile{
    display: none;
    @media (max-width: 768px) {
      position: absolute;
      top: 0;
      height: 60px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      width: 100%;
      left: 0;
      box-sizing: border-box;
    }
     
  }
  .HomePageHeaderPc {
    position: absolute;
    top: 0;
    height: 60px;
    padding: 20px 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    left: 0;
    @media (max-width: 768px) {
      display: none;
    }
    .EditLink {
      display: flex;
      align-items: center;
      color: var(--GrenColor);
      border-radius: 5px;
      margin-top: 30px;
      box-sizing: border-box;
      .EditLinkInner {
        display: flex;
        padding: 9px 7px !important;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.1s linear all;
        &:hover {
          background-color: var(--GrayColorButtonHover);
        }
        &:active {
          background-color: var(--GrayColorButtonActive);
        }
      }

      img {
        margin-left: 5px;
        width: 14px;
      }
    }
  }
  main {
    .HomePageTableSectionPc{
      margin-top: 52px;
      width: 100vw;
      @media (max-width: 768px) {
        display: none;
      }
      // padding: 0px 40px;
      .HomePageTable {
        margin-top: 30px;
      }
    }
    .HomePageTableSectionMobile{
      display: none;
      @media (max-width: 768px) {
        display: block;
      }
    }
  }
}
